/* Mobile */

@media screen  and (max-width: 768px) {
    .main-image img {
        display: none;
    }
    
    main.container {
        max-width: 350px;
        min-height: 40vh;
}

}

/* Tablet */

@media screen  and (max-width: 1024px) {
    .main-image img {
        max-width: 700px;
        min-height: auto;
    }
    
    main.container {
        max-width: 350px;
        min-height: 40vh;
    }
}